<footer class="Footer">
  &copy; {{ now.Year }} - {{ .Site.Title }}

  <p class="Footer_credit">
    Icons made by <br/>

    <!-- camera -->
    <a href="https://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>,

    <!-- close -->
    <a href="https://www.flaticon.com/authors/google" title="Google">Google</a>,

    <!-- next, previous -->
    <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a>,

    <!-- 500px -->
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>,

    <!-- Facebook -->
    <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>,

    <!-- Instagram -->
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>,

    <!-- Twitter -->
    <a href="https://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>,

    <!-- Hamburger -->
    and <a href="https://www.flaticon.com/authors/chris-veigt" title="Chris Veigt">Chris Veigt</a>

    <br/> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </p>
</footer>
