<header class="Header">
  <div class="Header_bar">
    <div class="Header_logo">
      <a href="{{ .Site.BaseURL }}">
        {{ readFile "/static/icons/camera.svg" | safeHTML }}
  			{{ .Site.Title }}
  		</a>
    </div>
    <div class="Header_nav">
      {{ partial "navigation.html" . }}
  	</div>
    <div class="Header_socials">
      {{ with .Site.Params.facebookUrl }}
        <a href="{{ . }}" title="Facebook">
          {{ partial "icon.html" "facebook" }}
        </a>
      {{ end }}
      {{ with .Site.Params.twitterUrl }}
        <a href="{{ . }}" title="Twitter">
          {{ partial "icon.html" "twitter" }}
        </a>
      {{ end }}
      {{ with .Site.Params.instagramUrl }}
        <a href="{{ . }}" title="Instagram">
          {{ partial "icon.html" "instagram" }}
        </a>
      {{ end }}
    </div>
  </div>
</header>
