{{ $name := .resource.Name }}
{{ $id := $name }}
{{ $id := replace $id "photos/" "" }}
{{ $id := replace $id "photo-" "" }}
{{ $id := replace $id "/" "" }}
{{ $id := replace $id ".jpg" "" }}
{{ $title := .resource.Title }}
{{ $preview := .resource.Fit "20x20" }}
{{ $thumbnail := .resource.Fit "600x600" }}
{{ $previewFile := (print "resources/_gen/images" $preview.Permalink) }}

{{ $previewSrc := $preview.RelPermalink }}
{{ if fileExists $previewFile }}
  {{ $previewSrc := (print "data:image/jpg;base64," (base64Encode (readFile $previewFile))) }}
{{ end }}

{{ $width := (div (mul (float .resource.Width) 200.0) (float .resource.Height))}}
{{ $maxWidth := (div (mul (float .resource.Width) 300.0) (float .resource.Height))}}
{{ $ratio := (mul (div (float .resource.Height) (float .resource.Width)) 100.0)}}

<a
  class="Photo Photo--waiting"
  data-trigger="studio"
  href="#photo-{{$id}}"
  style="width:{{$width}}px;max-width:{{$maxWidth}}px;flex-grow:{{$width}}"
>
  <i style="padding-bottom:{{$ratio}}%"></i>
  <img id="photo-{{$id}}" class="Photo_preview"
    alt="{{$title}}"
    src="{{ $previewSrc }}"
    data-src="{{ $thumbnail.RelPermalink }}"
    data-base="{{.Site.BaseURL}}"
    data-src-full="{{ .resource.RelPermalink }}">
</a>
