<section class="Studio" aria-hidden="true">
  <button class="Studio_close" type="button" title="Close">
    {{ partial "icon.html" "close" }}
  </button>

  <div class="Studio_gallery">
    <div class="Studio_loader" aria-hidden="false">
      {{ partial "icon.html" "loader" }}
    </div>
    <div class="Studio_image"></div>
  </div>

  <button class="Studio_previous" type="button" title="Previous">
    {{ partial "icon.html" "previous" }}
  </button>

  <button class="Studio_next" type="button" title="Next">
    {{ partial "icon.html" "next" }}
  </button>
</section>
