{{ define "main" }}
  {{ $title := .Title }}
  <div class="PageTitle">
    <h1>{{ $title }}</h1>
  </div>
  <div class="Gallery">
    <div class="Container">
      <div class="Gallery_content">
        {{ .Content }}
      </div>
    </div>
    <div class="Gallery_images">
      {{ $publicUrl := (delimit (slice "/photos/" .File.Dir .File.TranslationBaseName) "") }}
      {{ $publicThumbnailUrl := (delimit (slice "/generated/thumbnails" $publicUrl) "") }}
      {{ $path := (delimit (slice "/static" $publicUrl) "") }}
      {{ $previewPath := (delimit (slice "/static/generated/previews" $publicUrl) "") }}
      {{- $files := readDir $path -}}
      {{- range $files }}
        {{ $id := replace .Name ".jpg" "" }}
        {{ $previewFile := (delimit (slice $previewPath (.Name | relURL)) "") }}
        <div class="Gallery_image">
          <a class="ProgressiveImage ProgressiveImage--waiting" data-trigger="studio" href="#photo-{{ $id }}">
            <img id="photo-{{ $id }}" class="ProgressiveImage_preview"
              alt="{{ $title }}"
              src="data:image/jpg;base64,{{base64Encode (readFile $previewFile)}}"
              data-src="{{ $publicThumbnailUrl }}{{ .Name | relURL }}"
              data-src-full="{{ $publicUrl }}{{ .Name | relURL }}">
          </a>
        </div>
      {{- end }}
    </div>
  </div>
{{ end }}
