{{ define "main" }}
  {{ $title := .Title }}
  {{ $baseUrl := .Site.BaseURL }}
  <div class="PageTitle">
    <h1>{{ $title }}</h1>
  </div>
  <div class="Gallery">
    <div class="Container">
      <div class="Gallery_content">
        {{ .Content }}
      </div>
    </div>
    <div class="Pellicule Pellicule-padded">
      {{ range sort (.Resources.Match "**") "Params.weight" }}
        {{ if not (eq .Name .Title) }}
          {{ partial "photo.html" (dict "resource" .) }}
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
