<a href="{{ .Permalink }}" class="GalleryThumbnail">
  {{ $title := .Title }}
  <div class="GalleryThumbnail_image">
    {{ $publicUrl := (delimit (slice "photos/" .File.Dir .File.TranslationBaseName "/" .Params.banner) "") }}
    {{ $publicThumbnailUrl := (delimit (slice "generated/thumbnails/" $publicUrl) "") }}
    {{ $previewFile := (delimit (slice "/static/generated/previews/" $publicUrl) "") }}
    <div class="ProgressiveImage ProgressiveImage--waiting">
      <img class="ProgressiveImage_preview" alt="{{ .Title }}"
        src="data:image/jpg;base64,{{base64Encode (readFile $previewFile)}}"
        data-src="{{ .Site.BaseURL }}{{ $publicThumbnailUrl }}">
    </div>
  </div>

  <h2 class="GalleryThumbnail_title">{{ $title }}</h2>
</a>
