:root {
  --font-serif: 'Merriweather', serif;
  --font-sans-serif: 'Roboto', sans-serif;

  --color-primary: #000;
  --color-secondary: #324b5a;
  --color-opposite: #fff;

  --zindex-under: -1;
  --zindex-bottom: 1;
  --zindex-header-nav: 9;
  --zindex-header: 10;
  --zindex-navigation: 20;
  --zindex-studio: 30;
}

@custom-media --sm-viewport (min-width: 576px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 992px);
@custom-media --xl-viewport (min-width: 1200px);
