:root {
  --font-serif: 'Merriweather', serif;
  --font-sans-serif: 'Roboto', sans-serif;

  --color-primary: #000;
  --color-secondary: #324b5a;
  --color-opposite: #fff;
}

@custom-media --sm-viewport (min-width: 576px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 992px);
@custom-media --xl-viewport (min-width: 1200px);
