<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ if and .Title (not .IsHome) }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

		<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
	  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

		<meta property="og:locale" content="{{ .Site.LanguageCode}}">
		<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
		<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
		<meta property="og:site_name" content="{{ .Site.Title }}">

		{{ if .Params.banner }}
    	{{ $publicThumbnailUrl := (delimit (slice "generated/thumbnails/photos/" .File.Dir .File.TranslationBaseName "/" .Params.banner) "") }}
	    <meta property="og:image" content="{{ .Site.BaseURL }}{{ $publicThumbnailUrl }}">
		{{ else }}
    	<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.Avatar }}">
		{{ end }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css"/>
    {{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}

		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}favicon-16x16.png">

		<link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">
		<meta name="theme-color" content="#000000">
  </head>
  <body>
    <div class="Page">
      <main class="Main">
        {{ block "main" . }}{{ end }}
      </main>

	    {{ partial "header.html" . }}
	    {{ partial "footer.html" . }}
    </div>

    <script src="{{ .Site.BaseURL }}app.js"></script>

		{{ partial "studio.html" . }}
    {{ partial "ga.html" . }}
  </body>
</html>
