.ArticleList {
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;*/

  & > * {
    display: block;
    margin: 20px 0 80px;
  }

  @media (--md-viewport) {
    & > * {
      //width: 50%;
    }
  }

  @media (--lg-viewport) {
    & > * {
      //width: 33.33%;
    }
  }
}

.Article {
  width: 100%;
  max-width: 90rem;
  padding: 0 5vw;
  margin: auto;

  @media (--md-viewport) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.Article_date {
  color: #ddd;
  font-size: 1.4rem;
  display: block;
  text-align: center;
}

.Article_banner,
.Article_content .Photo,
.Article_content .Pellicule {
  margin: 0 -5vw;

  @media (--md-viewport) {
    margin-left: -10rem;
    margin-right: -10rem;
  }
}

.Article_banner {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Article_content .Photo,
.Article_content .Pellicule {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.Article_content {
  text-align: justify;
}

.ArticleSummary {

}

.ArticleSummary_more {
  font-weight: bold;
  white-space: nowrap;
}

.ArticleSummary_title {
  text-align: center;
  line-height: 1.3;
  margin: 0 0 3rem;
  text-transform: uppercase;
}

.ArticleSummary_date {
  margin-bottom: 1rem;
  display: none;
}

.ArticleSummary_banner {
  display: block;
  border: 0;
  margin-bottom: 1rem;
}

.ArticleSummary_description {
  text-align: center;
  font-size: 1.4rem;
}
