.ArticleList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: center;

  & > * {
    width: 100%;
    display: block;
    padding: 20px;
  }

  @media (--md-viewport) {
    & > * {
      width: 50%;
    }
  }

  @media (--lg-viewport) {
    & > * {
      width: 33.33%;
    }
  }
}

.Article_more {
  font-weight: bold;
  white-space: nowrap;
}

.Article_date {
  color: #ddd;
  font-size: 1.4rem;
  display: block;
  text-align: center;
}

.Article_banner {
  margin: 2rem 0 1rem;

  & img {
    width: 100%;
  }
}

.Article_photo {
  margin: 2.5rem 0;

  & img {
    width: 100%;
  }
}

.Article_content {
  text-align: justify;
}

.Article-summary {
  & .Article_title {
    text-align: center;
    line-height: 1.3;
    margin: 0 0 1.5rem;
  }

  & .Article_date {
    margin-bottom: 1rem;
    display: none;
  }

  & .Article_banner {
    display: block;
    border: 0;
    margin-bottom: 1rem;
  }

  & .Article_description {
    text-align: center;
    font-size: 1.4rem;
  }
}
