.Container {
  width: 600px;
  margin: auto;
  padding: 0 2rem;

  @media (--md-viewport) {
    padding: 0;
  }
}

.Containment {
  @media (--lg-viewport) {
    width: 900px;
    max-width: 100%;
  }

  @media (--xl-viewport) {
    width: 1150px;
  }
}
