.GalleryList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  & > * {
    width: 33.33%;
    display: block;
    padding: 20px;
  }
}

.GalleryThumbnail {
  border: 0;
  transition: 200ms ease border-color;
  position: relative;
}

.GalleryThumbnail_title {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: normal;
  font-family: var(--font-serif);
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 200ms ease opacity;
  color: var(--color-opposite);
}

.GalleryThumbnail_image {
  display: block;
  width: 100%;
}

.GalleryThumbnail {
  &:hover,
  &:focus {
    background: none;
    color: inherit;

    & .GalleryThumbnail_title {
      opacity: 1;
    }
  }

  & img {
    display: block;
    width: 100%;
  }
}

.Gallery {

}

.Gallery_content {
  text-align: center;
  margin-bottom: 4rem;
}

.Gallery_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > * {
    padding: 5px;
  }
}

.Gallery_image {
  border: 0;

  & img {
    display: block;
    height: 20rem;
  }
}

.ProgressiveImage {
  display: block;
  overflow: hidden;
  position: relative;

  &[data-trigger="studio"] {
    cursor: zoom-in;
    border: 0;

    &:hover,
    &:focus {
      color: inherit;
      background: none;
    }
  }
}

.ProgressiveImage_preview {
  filter: blur(2vw);
  transform: scale(1.2);
}

.ProgressiveImage_thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  animation: reveal 0.5s ease-out;
}

@keyframes reveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
