.GalleryList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  margin: 4rem 0;

  & > * {
    width: 50%;
    display: block;
    padding: 0.5rem;
  }

  @media (--md-viewport) {
    margin-left: -10px;
    margin-right: -10px;

    & > * {
      //width: 33.33%;
      padding: 10px;
    }
  }

  @media (--lg-viewport) {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;

    & > * {
      //width: 33.33%;
      display: block;
    }
  }
}

.GallerySummary {
  border: 0;
  transition: 200ms ease border-color;
  position: relative;
}

.GallerySummary_title {
  font-weight: bold;
  font-size: inherit;
  text-align: center;
  margin: 1rem 0 0;
  font-size: 2rem;
  text-transform: uppercase;

  @media (--lg-viewport) {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: var(--zindex-bottom);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 200ms ease opacity;
    color: var(--color-opposite);
  }
}

.GallerySummary_image {
  display: block;
  width: 100%;
}

.GallerySummary {
  &:hover,
  &:focus {
    background: none;
    color: inherit;

    & .GallerySummary_title {
      opacity: 1;
    }
  }

  & img {
    display: block;
    width: 100%;
  }
}

.Gallery {

}

.Gallery_content {
  text-align: center;
  margin-bottom: 4rem;
}

.Gallery_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > * {
    padding: 5px;
  }
}

.Gallery_image {
  border: 0;

  & img {
    width: auto;
    height: 20rem;
    height: 32vh;

    @media (--md-viewport) {
      //height: 40vh;
    }

    @media (--lg-viewport) {
      //height: 40vh;
    }
  }
}
