
.Header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    bottom: 0px;
    width: 80%;
    height: 50%;
    border-radius: 100%;
    left: 10%;
    right: 10%;
    opacity: 0;
    transition: 300ms ease opacity;
  }
}

.Header-sticked {
  &:after {
    opacity: 1;
  }
}

.Header_bar {
  display: flex;
  height: 48px;
  align-items: center;
  background: var(--color-opposite);

  & a {
    border: 0;
  }
}

.Header_logo {
  padding-left: 20px;

  & svg {
    width: 30px;
    fill: currentColor;
    margin-right: 10px;
  }

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    white-space: nowrap;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      left: 100%;
      right: 0;
      top: 100%;
      height: 1px;
      background: currentColor;
      transition: 200ms ease left;
    }

    &:hover,
    &:focus {
      background: none;
      color: inherit;

      &:after {
        left: 0%;
      }
    }
  }
}

.Header_nav {
  margin-left: auto;
  margin-right: auto;
}

.Header_socials {
  padding-right: 20px;
  display: flex;

  & a {
    display: block;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;

    &:hover,
    &:focus {
      color: var(--color-opposite);
      background: var(--color-primary);
    }
  }

  & .Icon {
    display: block;
  }
}
