.Navigation {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  & li {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
  }

  & a {
    color: inherit;
    text-decoration: none;
    position: relative;
    padding: 0 5px;
    display: block;
    white-space: nowrap;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 100%;
      bottom: 2px;
      height: 1px;
      background: currentColor;
      transition: 200ms ease right;
    }

    &:hover,
    &:focus {
      background: none;
      color: inherit;

      &:after {
        right: 0%;
      }
    }
  }

  & [aria-hidden] {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background: var(--color-primary);
    color: var(--color-opposite);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    padding: 5px;
    transition: 200ms ease opacity;
    display: block;

    & a {
      font-size: 0.8em;
    }
  }

  & [aria-hidden="true"] {
    pointer-events: none;
    opacity: 0;
  }

  & [aria-hidden="false"] {
    pointer-events: inherit;
    opacity: 1;
  }
}
