.Page {
  padding-top: 48px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.Page_separator {
  height: 1px;
  border-bottom: 1px solid;
  width: 33%;
  margin: 4rem auto;
}
