.Photo {
  display: block;
  overflow: hidden;
  position: relative;

  & i {
    display: block;
  }

  & img {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &[data-trigger="studio"] {
    cursor: zoom-in;
    border: 0;

    &:hover,
    &:focus {
      color: inherit;
      background: none;
    }
  }

  & + br {
    display: none; /* Removes br added by markdown */
  }
}

:not(.Pellicule) > .Photo {
  width: auto !important; /* Reset width for photos which are not in a pellicule*/
  max-width: none !important; /* Reset width for photos which are not in a pellicule*/
}

.Photo_preview {
  filter: blur(2vw);
  transform: scale(1.2);
}

.Photo_thumbnail {
  transition: 0.2s ease-out transform;
  will-change: transform, opacity;
  animation: reveal 0.5s ease-out;
}

a {
  &:hover,
  &:focus {
    & .Photo_thumbnail {
      transform: scale(1.05);
    }
  }
}
