
.ProgressiveImage {
  display: block;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    display: block;
  }

  &[data-trigger="studio"] {
    cursor: zoom-in;
    border: 0;

    &:hover,
    &:focus {
      color: inherit;
      background: none;
    }
  }
}

.ProgressiveImage_preview {
  filter: blur(2vw);
  transform: scale(1.2);
}

.ProgressiveImage_thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: 0.2s ease-out transform;
  will-change: transform, opacity;
  animation: reveal 0.5s ease-out;
}

a {
  &:hover,
  &:focus {
    & .ProgressiveImage_thumbnail {
      transform: scale(1.05);
    }
  }
}
