.Navigation {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  & [role="separator"] {
    display: none;
  }

  & li {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-top: 1px solid var(--color-opposite);
  }

  & a {
    color: inherit;
    text-decoration: none;
    position: relative;
    display: block;
    white-space: nowrap;
    font-size: 2rem;
    text-align: right;
    padding: 6px 20px;
    background: var(--color-primary);
    color: var(--color-opposite);
    flex-grow: 1;
  }

  & button {
    background: var(--color-primary);
    color: var(--color-opposite);
    border: 0;
    border-left: 1px solid;
    width: 2.5em;
  }

  & [aria-hidden] {
    background: var(--color-opposite);
    color: var(--color-primary);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    transition: 200ms ease opacity;
    flex-basis: 100%;

    & a {
      border: 0;
      font-size: 0.9em;
      color: inherit;
      background: inherit;
      padding: 0.5em 1.5em;
    }
  }

  & [aria-hidden="true"] {
    display: none;
  }

  & [aria-hidden="false"] {
    display: block;
  }

  @media (--md-viewport) {
    & ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    & [role="separator"] {
      display: block;
    }
      
    & li {
      display: block;
      border-top: 0;
    }

    & a {
      text-align: inherit;
      font-size: inherit;
      padding: 0 5px;
      border-top: 0;
      color: inherit;
      background: none;

      &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: var(--zindex-header);
        left: 0;
        right: 100%;
        bottom: 2px;
        height: 1px;
        background: currentColor;
        transition: 200ms ease right;
      }

      &:hover,
      &:focus {
        background: none;
        color: inherit;

        &:after {
          right: 0%;
        }
      }
    }

    & button {
      display: none;
    }

    & [aria-hidden] {
      position: absolute;
      z-index: var(--zindex-navigation);
      top: 100%;
      left: 0;
      display: block;
      background: var(--color-primary);
      color: var(--color-opposite);
      padding: 0.5em 1em;
      text-align: left;

      & a {
        font-size: 0.8em;
        padding: 3px;
      }
    }

    & [aria-hidden="true"] {
      pointer-events: none;
      opacity: 0;
    }

    & [aria-hidden="false"] {
      pointer-events: inherit;
      opacity: 1;
    }
  }
}
