{{ define "main" }}
  {{ $title := .Title }}
  {{ $banner := .Params.banner }}
  <section class="Article" itemscope itemtype="http://schema.org/Article">
    {{ with .Resources.GetByPrefix $banner }}
      <div class="Article_banner">
        {{ $filenameParts := split $banner "." }}
        {{ $id := index $filenameParts 0 }}
        {{ partial "photo.html" (dict "resource" . "alt" $title "id" $id) }}
      </div>
    {{ end }}
    <div class="PageTitle">
      <h1 class="Article_title" itemprop="name">{{ .Title }}</h1>
      <time class="Article_date" itemprop="date">{{ i18n "article_publishedOn" (dict "date" (.Date.Format "02/01/2006")) }}</time>
    </div>
    <article class="Article_content" itemprop="articleBody">
       {{ .Content }}
    </article>
  </section>
{{ end }}
