{{ define "main" }}
  {{ $title := .Title }}
  {{ $banner := .Params.banner }}
  {{ $bannerPath := (print "photos/" $banner ".jpg") }}

  <section class="Article" itemscope itemtype="http://schema.org/Article">
    {{ with .Resources.GetMatch $bannerPath }}
      <div class="Article_banner">
        {{ partial "photo.html" (dict "resource" .) }}
      </div>
    {{ end }}
    <div class="PageTitle">
      <h1 class="Article_title" itemprop="name">{{ .Title }}</h1>
      <time class="Article_date" itemprop="date">{{ i18n "article_publishedOn" (dict "date" (.Date.Format "02/01/2006")) }}</time>
    </div>
    <article class="Article_content" itemprop="articleBody">
       {{ .Content }}
    </article>
  </section>
{{ end }}
