{{ define "main" }}
  <section class="Article" itemscope itemtype="http://schema.org/Article">
    <div class="Container">
      <div class="Article_banner">
        {{ $publicUrl := (delimit (slice "/photos/" .File.Dir .File.TranslationBaseName "/" .Params.banner) "") }}
        {{ $previewFile := (delimit (slice "/static/generated/previews" $publicUrl) "") }}
        {{ $id := replace .Params.banner ".jpg" "" }}
        <a class="ProgressiveImage ProgressiveImage--waiting" data-trigger="studio" href="#photo-{{ $id }}">
          <img id="photo-{{ $id }}" class="ProgressiveImage_preview"
            alt="{{ .Title }}"
            src="data:image/jpg;base64,{{base64Encode (readFile $previewFile)}}"
            data-src="{{ $publicUrl }}"
            data-src-full="{{ $publicUrl }}">
        </a>
      </div>
    </div>
    <div class="PageTitle">
      <h1 class="Article_title" itemprop="name">{{ .Title }}</h1>
      <time class="Article_date" itemprop="date">Published on {{ .Date.Format "02/01/2006" }}</time>
    </div>
    <div class="Container">
      <article class="Article_content" itemprop="articleBody">
         {{ .Content }}
      </article>
    </div>
  </section>
{{ end }}
