{{ $title := .Title }}
{{ $url := .URL }}
{{ $banner := .Params.banner }}
{{ $bannerPath := (print "photos/" $banner ".jpg") }}

<section class="ArticleSummary" itemscope itemtype="http://schema.org/Article">
	<h2 class="ArticleSummary_title" itemprop="name"><a href="{{ $url }}">{{ $title }}</a></h2>
	<time class="ArticleSummary_date" itemprop="date">{{ .Date.Format "02/01/2006" }}</time>
	{{ range .Params.tags }}
	  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	{{ with .Resources.GetMatch $bannerPath }}
		<a href="{{ $url }}" class="ArticleSummary_banner">
			{{ partial "thumbnail.html" (dict "resource" .) }}
		</a>
	{{ end }}
	<article class="ArticleSummary_description" itemprop="articleBody">
		{{ .Description }}
		<a class="ArticleSummary_more" href="{{ $url }}">{{ i18n "article_readMore" }}</a>
	</article>
</section>
