{{ $title := .Title }}
{{ $banner := .Params.banner }}
{{ $permalink := .Permalink }}

<section class="ArticleSummary" itemscope itemtype="http://schema.org/Article">
	<h2 class="ArticleSummary_title" itemprop="name"><a href="{{ $permalink }}">{{ $title }}</a></h2>
	<time class="ArticleSummary_date" itemprop="date">{{ .Date.Format "02/01/2006" }}</time>
	{{ range .Params.tags }}
	  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	{{ with .Resources.GetByPrefix $banner }}
		<a href="{{ $permalink }}" class="ArticleSummary_banner">
			{{ partial "thumbnail.html" (dict "resource" . "alt" $title) }}
		</a>
	{{ end }}
	<article class="ArticleSummary_description" itemprop="articleBody">
		{{ .Description }}
		<a class="ArticleSummary_more" href="{{ $permalink }}">Read more...</a>
	</article>
</section>
