.Header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-header);
  transform: translate3d(0, 0, 0);

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: var(--zindex-under);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    bottom: 0px;
    height: 50%;
    border-radius: 100%;
    left: 10%;
    right: 10%;
    opacity: 0;
    transition: 300ms ease opacity;
  }
}

.Header-sticked {
  &:after {
    opacity: 1;
  }
}

.Header_bar {
  display: flex;
  height: var(--height-sm-header);
  align-items: center;
  background: var(--color-opposite);

  & a {
    border: 0;
  }
  @media (--md-viewport) {
    height: var(--height-md-header);
  }
}

.Header_logo {
  padding-left: 20px;
  flex: 1 1 0;

  & a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: inherit;
    white-space: nowrap;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: var(--zindex-header);
      right: 100%;
      left: 0;
      top: 100%;
      height: 1px;
      background: currentColor;
      transition: 200ms ease right;
    }

    &:hover,
    &:focus {
      background: none;
      color: inherit;

      &:after {
        right: 0%;
      }
    }
  }

  & svg {
    width: 30px;
    fill: currentColor;
    margin-right: 10px;
  }
}

.Header_nav {
  flex: 1 1 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--color-opposite);
  z-index: var(--zindex-under);
  transition: 400ms cubic-bezier(0.22, 0.61, 0.36, 1) transform;

  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: var(--zindex-under);
    box-shadow: 0 0 15px #000;
    bottom: 0px;
    height: 10%;
    border-radius: 100%;
    left: 0;
    right: 0;
    transition: 300ms ease opacity;
  }

  &[aria-hidden='true']  {
    transform: translateY(-100%);
    pointer-events: none;

    &:after {
      opacity: 0;
    }
  }

  &[aria-hidden='false']  {
    transform: translateZ(0);
    pointer-events: auto;

    &:after {
      opacity: 1;
    }
  }

  @media (--md-viewport) {
    background: none;
    position: static;
    top: auto;
    left: auto;
    right: auto;
    transform: none !important;
    pointer-events: auto !important;
    z-index: auto;
  }
}

.Header_socials {
  padding-right: 10px;
  display: flex;
  flex: 1 1 0;
  justify-content: flex-end;
  align-items: center;

  & a,
  & button {
    cursor: pointer;
    display: block;
    margin-left: 5px;
    border-radius: 50%;
    padding: 6px;
    transition: 200ms ease all;
    background: none;
    font-size: inherit;
    color: inherit;
    border: 0;

    &:hover,
    &:focus {
      color: inherit;
      background: rgba(0, 0, 0, 0.08);
    }

    &:active {
      position: relative;
      top: 1px;
      left: 1px;
    }
  }

  & .Icon {
    display: block;
    width: 25px;
    height: 25px;
  }

  & .Header_navToggle {
    margin-left: 10px;
  }

  @media (--md-viewport) {
    padding-right: 20px;

    & .Icon {
      width: 20px;
      height: 20px;
    }

    & .Header_navToggle {
      display: none;
    }
  }
}

.Header_navShare {
  position: relative;
}

.Header_navCopied {
  position: absolute;
  right: 0;
  top: calc(100% + 3px);
  white-space: nowrap;
  color: var(--color-opposite);
  background: var(--color-secondary);
  font-size: 0.8em;
  text-align: right;
  padding: 0.5em;
  opacity: 0;
}

.Header_navCopied {
  position: absolute;
  right: 0;
  top: calc(100% + 3px);
  white-space: nowrap;
  color: var(--color-opposite);
  background: var(--color-secondary);
  font-size: 0.8em;
  text-align: right;
  padding: 0.5em;
  transition: 100ms ease opacity;
}

.Header_navCopied[aria-hidden="false"] {
  opacity: 0;
}

.Header_navCopied[aria-hidden="true"] {
  opacity: 1;
}
